<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wdtm.kinga_florek_czw_9_30">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kinga_Florek_czw_9_30"
        android:networkSecurityConfig="@xml/network_security_config">
        <activity
            android:name=".CurrencyDetailsActivity"
            android:parentActivityName=".ExchangeRatesActivity"
            android:label="@string/details" />
        <activity
            android:name=".CurrencyConverterActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/currency_converter" />
        <activity
            android:name=".ExchangeRatesActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/exchange_rates" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>